<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="icon" type="image/png" href="/img/favicon.png">
   <title>My Accounts</title>
   <script src="https://kit.fontawesome.com/7527646f2a.js" crossorigin="anonymous"></script>
</head>
<body>
   <header class="header position-sticky top-0 z-1">
      <%- include('../../../partials/header') %>
   </header>
   
   <main>
      <div class="container">
         <div class="row">
            <div class="col-md-6">
               <section id="account-list" class="mb-4">
                  <h2>My Accounts</h2>
                  <ul id="accounts">
                     <!-- List of user accounts will be dynamically populated here -->
                  </ul>
               </section>
            </div>
            <div class="col-md-6">
               <section id="add-account">
                  <a href="/user/finance/accounts/new">
                     <button type="button">Add Account</button>
                  </a>
               </section>
            </div>
         </div>
      </div>
   </main>
   <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
   <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
   <script type="module">
      document.addEventListener('DOMContentLoaded', function() {
         const accounts = [
            {
               id: 1,
               name: 'Checking Account',
               balance: 1000
            },
            {
               id: 2,
               name: 'Savings Account',
               balance: 5000
            }
         ];
         const accountsList = document.getElementById('accounts');
         accounts.forEach(account => {
            const li = document.createElement('li');
            li.textContent = `${account.name} - $${account.balance}`;
            accountsList.appendChild(li);
         });
         console.log('Finance Accounts page loaded');
      });
   </script>
</body>
</html>