<nav class="col-lg-6 text-lg-start text-center justify-content-center">
  <ul class="nav nav-tabs">
    <li class="nav-item mx-auto">
      <a
        href="/user/finance/accounts"
        class="nav-link text-body font-weight-bold px-3"
      >
        <i class="fa fa-money me-sm-1"></i>
        <span class="d-sm-inline d-none">Accounts</span>
      </a>
    </li>
    <li class="nav-item mx-auto">
      <a
        href="/user/finance/budgets"
        class="nav-link text-body font-weight-bold px-3"
      >
        <i class="fa fa-chart-line me-sm-1"></i>
        <span class="d-sm-inline d-none">Budgets</span>
      </a>
    </li>
    <li class="nav-item mx-auto">
      <a
        href="/user/finance/reports"
        class="nav-link text-body font-weight-bold px-3"
      >
        <i class="fa fa-file-invoice-dollar me-sm-1"></i>
        <span class="d-sm-inline d-none">Reports</span>
      </a>
    </li>
    <li class="nav-item mx-auto">
      <a
        href="/user/finance/goals"
        class="nav-link text-body font-weight-bold px-3"
      >
        <i class="fa fa-bullseye me-sm-1"></i>
        <span class="d-sm-inline d-none">Goals</span>
      </a>
    </li>
  </ul>
</nav>
