<!-- <header class="header position-sticky top-0">
   <div class="">
     <div class="col-12"> -->
       <nav class="navbar navbar-expand-lg blur blur-rounded shadow position-sticky top-0 start-0 end-0 z-1 px-4">
         <div class="container-fluid pe-0">
           <a class="navbar-brand font-weight-bolder ms-lg-0 ms-3" href="/">
             Uni
           </a>
           <button
             class="navbar-toggler shadow-none ms-2"
             type="button"
             data-bs-toggle="collapse"
             data-bs-target="#navigation"
             aria-controls="navigation"
             aria-expanded="false"
             aria-label="Toggle navigation"
           >
             <span class="navbar-toggler-icon mt-2">
               <span class="navbar-toggler-bar bar1"></span>
               <span class="navbar-toggler-bar bar2"></span>
               <span class="navbar-toggler-bar bar3"></span>
             </span>
           </button>
           <div class="collapse navbar-collapse" id="navigation">
             <ul class="navbar-nav mx-auto ms-xl-auto me-xl-7">
               <li class="nav-item">
                 <a class="nav-link me-2" href="/about">
                   <i class="fa fa-circle-info opacity-6 text-dark me-1"></i>
                   About
                 </a>
               </li>
               <li class="nav-item">
                 <a class="nav-link me-2" href="/contact">
                   <i class="fas fa-message opacity-6 text-dark me-1"></i>
                   Contact
                 </a>
               </li>
               <li class="nav-item">
                 <a class="nav-link me-2" href="/login">
                   <i class="fas fa-key opacity-6 text-dark me-1"></i>
                   Login
                 </a>
               </li>
             </ul>
           </div>
         </div>
       </nav>
     <!-- </div>
   </div>
 </header> -->