<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="icon" type="image/png" href="assets/img/favicon.png">
   <title>About - Uni Manager</title>
   <link
      href="/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="/bootstrap/bootstrap-icons-1.11.3/font/bootstrap-icons.css"
      rel="stylesheet"
    />
</head>
<body>
  <header class="header">
    <%- include('./partials/navbar/unauth') %>
  </header>
  <main class="main-content mt-0">
    <div class="container">
      <section class="my-5">
        <h2 class="text-primary">Our Mission</h2>
        <p class="lead">Uni Manager is dedicated to providing the best tools to manage your personal, home, and work life. We believe that by organizing your life, you can achieve your goals and live a happier, more fulfilling life.</p>
      </section>
      <section class="my-5">
        <h2 class="text-primary">Our Team</h2>
        <p class="lead">Our team is made up of dedicated professionals who are passionate about helping people live better lives. We are constantly working to improve our products and services to better serve our customers.</p>
      </section>
    </div>
  </main>
  <footer class="footer">
    <%- include('./partials/footer/unauth') %>
  </footer>
  <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>