<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="icon" type="image/png" href="assets/img/favicon.png">
   <title>Contact Us</title>
   <link rel="stylesheet" href="css/index.css">
   <script src="https://kit.fontawesome.com/7527646f2a.js" crossorigin="anonymous"></script>
</head>
<body>
   <header class="container position-sticky z-index-sticky top-0">
      <div class="row">
        <div class="col-12">

          <nav class="navbar navbar-expand-lg blur blur-rounded top-0 z-index-3 shadow position-absolute my-3 py-2 start-0 end-0 mx-4">
            <div class="container-fluid pe-0">
              <a class="navbar-brand font-weight-bolder ms-lg-0 ms-3 " href="/">
                Uni
              </a>
              <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon mt-2">
                  <span class="navbar-toggler-bar bar1"></span>
                  <span class="navbar-toggler-bar bar2"></span>
                  <span class="navbar-toggler-bar bar3"></span>
                </span>
              </button>
              <div class="collapse navbar-collapse" id="navigation">
                <ul class="navbar-nav mx-auto ms-xl-auto me-xl-7">
                  <!-- <li class="nav-item">
                    <a class="nav-link d-flex align-items-center me-2 active" aria-current="page" href="/about">
                      <i class="fa fa-solid fa-info opacity-6 text-dark me-1"></i>
                      About
                    </a>
                  </li> -->
                  <li class="nav-item">
                    <a class="nav-link me-2" href="/about">
                      <i class="fa fa-info opacity-6 text-dark me-1"></i>
                      About
                    </a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link me-2" href="/contact">
                      <i class="fas fa-user-circle opacity-6 text-dark me-1"></i>
                      Contact
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link me-2" href="/login">
                      <i class="fas fa-key opacity-6 text-dark me-1"></i>
                      Login
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>

        </div>
      </div>
    </header>

   <main class="main-content mt-0">
      <section>
         <div class="container">
            <div class="row">
               <div class="col-xl-4 col-lg-5 col-md-7 d-flex flex-column mx-auto">
                  <h2 class="text-center mb-4 text-primary">Contact Us</h2>
                  <p class="mb-0 text-center text-muted font-italic">Fill out the form below to get in touch with us.</p>
                  <form action="api/contact" method="post" id="contact-form">
                     <section>
                     <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" name="name" class="form-control" id="name" required>
                     </div>
                     <div class="form-group
                     ">
                        <label for="email">Email</label>
                        <input type="email" name="email" class="form-control" id="email" required>
                     </div>
                     <div class="form-group
                     ">
                        <label for="message">Message</label>
                        <textarea name="message" class="form-control" id="message" rows="5" required></textarea>
                     </div>
                     <button type="submit" class="btn btn-outline-primary">Submit</button>
                     </section>
                  </form>
               </div>
            </div>
         </div>
      </section>
   </main>
   <footer class="text-center fixed-bottom">
      <p>&copy; 2023 Uni-Manager</p>
   </footer>
   <script src="js/contact.js"></script>
</body>
</html>