body {
  background-color: var(--bs-body-bg);
}

a {
  color: var(--primary-color);
}

button {
  background-color: var(--secondary-color);
  color: #fff;
}

button:hover {
  background-color: var(--accent-color);
}