/* Navbar container */
.navbar {
   overflow: hidden;
   background-color: #333;
   font-family: Arial, sans-serif;
}

.navbar li {
   float: left;
}

/* Navbar links */
.navbar a {
   float: left;
   display: block;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
}

/* Change color on hover */
.navbar a:hover {
   background-color: #ddd;
   color: black;
}

/* Active/current link */
.navbar a.active {
   background-color: #4CAF50;
   color: white;
}

/* search box */
.search-container {
   float: right;
}

input[type=text] {
   padding: 6px;
   margin-top: 8px;
   font-size: 17px;
   border: none;
}

.search-container button {
   float: right;
   padding: 6px 10px;
   margin-top: 8px;
   margin-right: 16px;
   background: #ddd;
   font-size: 17px;
   border: none;
   cursor: pointer;
}

.search-container button:hover {
   background: #ccc;
}

/* Add responsiveness - on screens less than 600px wide, display the navbar vertically instead of horizontally */
@media screen and (max-width: 600px) {
   .navbar a {
      float: none;
      display: block;
   }
}