<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="icon" type="image/png" href="img/favicon.png">
  <title>Dashboard</title>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
  <script src="https://kit.fontawesome.com/7527646f2a.js" crossorigin="anonymous"></script>
</head>
<body>
  <header class="header position-sticky top-0 z-1">
    <%- include('../partials/header') %>
  </header>

  <main id="main">
  </main>

  <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script type="module" src="/js/main.js"></script>
</body>
</html>