<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="img/favicon.png" />
    <title>Logout</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
    <script
      src="https://kit.fontawesome.com/7527646f2a.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header class="header">
      <%- include('../partials/navbar/unauth') %>
    </header>
    
    <main class="container">
      <div class="row">
        <div class="col-12">
          <div class="card shadow-lg">
            <div class="card-body">
              <h1 class="text-center">Logout</h1>
              <p id="message" class="text-center"></p>
              <p id="action-link" class="text-center"></p>
            </div>
          </div>
        </div>
      </div>
    </main>
    <footer class="footer">
      <%- include('../partials/footer/unauth') %>
    </footer>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/js/auth/logout.js"></script>
  </body>
</html>
