<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="img/favicon.png" />
    <title>Password reset sucessful!</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
    <script
      src="https://kit.fontawesome.com/7527646f2a.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header class="header">
      <%- include('../partials/navbar/unauth') %>
    </header>

    <div class="container">
      <div class="row">
        <div>
          <h2>Password reset sucessful!</h2>
          <p>You can now login with your new password.</p>
          <button
            type="button"
            class="btn btn-default"
            onclick="window.location.href='/'"
          >
            Back to Login
          </button>
        </div>
      </div>
    </div>
    <footer class="footer">
      <%- include('../partials/footer/unauth') %>
    </footer>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
