<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" href="img/favicon.png" />
    <title>Superville Home</title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <script
      src="https://kit.fontawesome.com/7527646f2a.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <header class="header">
      <div class="row">
        <div class="col-12">
          <nav
            class="navbar navbar-expand-lg blur blur-rounded shadow position-sticky start-0 end-0 z-1 my-3 px-4"
          >
            <div class="container-fluid pe-0">
              <a class="navbar-brand font-weight-bolder ms-lg-0 ms-3" href="/">
                Uni
              </a>
              <button
                class="navbar-toggler shadow-none ms-2"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navigation"
                aria-controls="navigation"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon mt-2">
                  <span class="navbar-toggler-bar bar1"></span>
                  <span class="navbar-toggler-bar bar2"></span>
                  <span class="navbar-toggler-bar bar3"></span>
                </span>
              </button>
              <div class="collapse navbar-collapse" id="navigation">
                <ul class="navbar-nav mx-auto ms-xl-auto me-xl-7">
                  <li class="nav-item">
                    <a class="nav-link me-2" href="/about">
                      <i class="fa fa-circle-info opacity-6 text-dark me-1"></i>
                      About
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link me-2" href="/contact">
                      <i class="fas fa-message opacity-6 text-dark me-1"></i>
                      Contact
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link me-2" href="/login">
                      <i class="fas fa-key opacity-6 text-dark me-1"></i>
                      Login
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </header>

    <main class="auth-container">
      <h2>Password Reset</h2>
      <form
        action="api/reset-password/:token"
        method="submit"
        id="reset-password-form"
      >
        <label for="password">New Password:</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          placeholder="enter your new password"
          required
        />
        <p class="error" id="password-error"></p>
        <label for="confirm-password">Confirm New Password:</label>
        <input
          type="password"
          class="form-control"
          id="confirm-password"
          name="confirm-password"
          placeholder="confirm your new password"
          required
        />
        <p class="error" id="confirm-password-error"></p>
        <button type="submit">Reset Password</button>
      </form>
    </main>
    <footer class="text-center fixed-bottom bg-white">
      <p>&copy; 2023 Uni-Manager</p>
    </footer>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="module" src="/js/auth/reset-password.js"></script>
  </body>
</html>
